<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <script src="https://cdn.jsdelivr.net/npm/openai"></script>
    <meta charset="utf-8">
    <title>PGGR</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico'%}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
<!------ Include the above in your HEAD tag ---------->

</head>

<body>
    
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
            <img src="{% static 'img/logo-1.jpg'%}" style="margin-left: 10px;width:65px;height:65 px">
            <div class="row logo-wid m-0 nowrap"><h2 class="nav-heading fontsmall" style="font-size: 18px; text-align: left; margin-left: 6px;">PUNJAB GHAR GHAR ROZGAR <br><span class="n1 extrasmall-subtitle" style="font-weight: 600; line-height: 20px;">Department of Employment Generation</span></h2></div>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="index.html" class="nav-item nav-link">Home</a>
                    <a href="about.html" class="nav-item nav-link active">About</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Jobs</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="job-list.html" class="dropdown-item">Job List</a>
                            <a href="job-detail.html" class="dropdown-item">Job Detail</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Resume</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="resume.html" class="dropdown-item">Resume Builder</a>
                            <a href="resumeanalysis.html" class="dropdown-item">Resume Analysis</a>
                        </div>
                    </div>
                    {% comment %} <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="category.html" class="dropdown-item">Job Category</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            <a href="404.html" class="dropdown-item active">404</a>
                        </div>
                    </div> {% endcomment %}
                    <a href="http://127.0.0.1:5500/sih%20forum/public/sidebar/sidebar.html" class="nav-item nav-link">Forum</a>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>
                    <a href="chat.html" class="nav-item nav-link">ChatBot</a>
                </div>
                
                <a class="btn btn-primary rounded-0 d-none d-lg-block" style="width:10%;align-items:left;padding:0px;background-color:white;border-color:white;"  id="tooltip-image" alt="Tooltip Image">
                    <img src="{% static 'media/arun.jpg' %}" style="height:100%;position:relative;height:75%;width:75%;vertical-align:middle;top:10%;border-radius:25px"> 
                </a>
            </div>
        </nav>
        <!-- Navbar End -->
        <button class="navbtn nav-2"><span class="material-symbols-outlined">forum</span></button>
        <div class="chatfull"><div class="chattop"><div style="width:70%">Chat Assistant</div><button class="chatbtn"><div style="margin-right:3%">--</div></button></div><iframe class="chatframe" src="http://localhost:8082/"></iframe></div>
        
        <!-- Navbar End -->


        <!-- Header End -->
        <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Header End -->


        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="row g-0 about-bg rounded overflow-hidden">
                            <div class="col-6 text-start">
                                <img class="img-fluid w-100" src="{% static 'img/about-1.jpg'%}">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid" src="{% static 'img/about-2.jpg'%}" style="width: 85%; margin-top: 15%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid" src="{% static 'img/about-3.jpg'%}" style="width: 85%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid w-100" src="{% static 'img/about-4.jpg'%}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h1 class="mb-4">We Help To Get The Best Job And Find A Talent</h1>
                        <p class="mb-4">The Punjab Ghar Ghar Rozgar facilitates wage and self-employment, improves employability through skill training, and identifies areas for employment generation.</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Skill Development and Job Matching</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Placement Fairs and Talent Pool</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Digital Platform and Infrastructure Support</p>
                        <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Company</h5>
                        <a class="btn btn-link text-white-50" href="">About Us</a>
                        <a class="btn btn-link text-white-50" href="">Contact Us</a>
                        <a class="btn btn-link text-white-50" href="">Our Services</a>
                        <a class="btn btn-link text-white-50" href="">Privacy Policy</a>
                        <a class="btn btn-link text-white-50" href="">Terms & Condition</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Quick Links</h5>
                        <a class="btn btn-link text-white-50" href="">About Us</a>
                        <a class="btn btn-link text-white-50" href="">Contact Us</a>
                        <a class="btn btn-link text-white-50" href="">Our Services</a>
                        <a class="btn btn-link text-white-50" href="">Privacy Policy</a>
                        <a class="btn btn-link text-white-50" href="">Terms & Condition</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h5 class="text-white mb-4">Contact</h5>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>SCO 149-152, 2nd Floor, Sector-17C, Chandigarh</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0172-2720152</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>secy.skill@psdm.gov.in</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">PGGR</a>, All Right Reserved. 
							
							<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
							Designed By <a class="border-bottom" href="">Turings</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Home</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FAQs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js'%}"></script>
    <script src="{% static 'lib/easing/easing.min.js'%}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js'%}"></script>
    <script>
        /*const navbtn1=document.getElementsByClassName("nav-1")[0];
        const forumbtn=document.getElementsByClassName("forumbtn")[0];
        const forum=document.getElementsByClassName("forumfull")[0];
        navbtn1.addEventListener('click',(event)=>{
            navbtn1.style.zIndex=-1;
            forum.style.zIndex=2;
        })
        forumbtn.addEventListener('click',(event)=>{
            navbtn1.style.zIndex=2;
            forum.style.zIndex=-1;
        })*/
        const navbtn2=document.getElementsByClassName("nav-2")[0];
        const chatbtn=document.getElementsByClassName("chatbtn")[0];
        const chat=document.getElementsByClassName("chatfull")[0];
        navbtn2.addEventListener('click',(event)=>{
            navbtn2.style.zIndex=-1;
            chat.style.zIndex=2;
        })
        chatbtn.addEventListener('click',(event)=>{
            navbtn2.style.zIndex=2;
            chat.style.zIndex=-1;
        })
    </script>
</body>

</html>